<!DOCTYPE html>
{% extends 'cinema/base.html' %}

{% load static %}

{% block content %}
<section class="now-playing">
    <div class="container">

        <div>
            {% if logo %}
    <img src="{{ logo.url }}" 
         alt="Логотип" 
         class="d-inline-block img-fluid"
         srcset="{{ logo.url }} 400w,
                 {{ logo.url }} 800w,
                 {{ logo.url }} 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1000px) 800px,
                1200px">
{% else %}
    <p class="text-center">Логотип не найден</p>
{% endif %}
        </div>

        {% if quote_text %}
        <div>
            <p>“{{ quote_text }}”</p>
            {% if quote_author %}
                <p>— {{ quote_author }}</p>
            {% endif %}
        </div>
        {% endif %}

        {% if weather_info %}
        <div class="alert alert-secondary mb-4" role="alert">
            <i class="bi bi-cloud-sun-fill me-2"></i>
            Погода в Минске: <strong>{{ weather_info }}</strong>
        </div>
        {% endif %}

        <div class="content-grid">
            <div class="movies-column">
                <h2 class="section-title">Сейчас в прокате</h2>
                <div class="movies-grid">
                    {% for movie in active_movies %}
                    <a href="{% url 'cinema:movie_detail' movie.pk %}" class="movie-card-link">
                        <div class="movie-card">
                            <div class="movie-poster">
                                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="poster-image">
                                <div class="movie-overlay">
                                    <span class="btn-buy">
                                        Купить билеты
                                        <i class="fas fa-ticket-alt"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="movie-info">
                                <h3 class="movie-title">{{ movie.title }}</h3>
                                <div class="movie-meta">
                                    <span class="rating"><i class="fas fa-star"></i> {{ movie.rating }}/10</span>
                                    {% if movie.genres.all %}
                                    <span class="genre">{{ movie.genres.all.0.name }}</span>
                                    {% endif %}
                                </div>
                                <p class="movie-description">{{ movie.description|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

    
    <aside class="adv-column">
            {% if adv_img and adv_src %}
        <a href="{{ adv_src }}" target="_blank">
            <img src="{{ adv_img.url }}" alt="Реклама" class="adv-banner">
        </a>
    {% else %}
        <p>Реклама скоро появится</p>
    {% endif %}
</aside>

        </div>

    </div>
</section>

<section class="last-news">
<div class="news-column">
        <h2 class="section-title">Последняя новость</h2>
        {% if last_news %}
        <a href="{% url 'cinema:news_detail' last_news.pk %}" class="movie-card-link">
            <div class="movie-card">
                <div class="movie-poster">
                    <img src="{{ last_news.image.url }}" alt="{{ last_news.title }}" class="poster-image">
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">{{ last_news.title }}</h3>
                    <div class="movie-meta">
                        <span class="rating"><i class="fas fa-calendar"></i> {{ last_news.publish_date|date:"d.m.Y" }}</span>
                    </div>
                    <p class="movie-description">{{ last_news.summary|truncatewords:20 }}</p>
                </div>
            </div>
        </a>
        {% else %}
        <p
        >Новостей пока нет</p>
        {% endif %}
</div>
</section>

{% endblock %}
